<!DOCTYPE html>

<html>
{% load static %}

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <title>Heading</title>
  </head>
  <script src="{%static 'jqery.js' %}"></script>
     <script src="{%static 'code.js' %}"></script>

  <body background="{%static 'bg.jpg' %}">
    <br>
    <br>
    <br>
  <div class="container">
    <div class="mt-4 mx-auto">
    <div class="bg bg-light card">
      <h1> <center> Movie Review Using IMDB Dataset</center></h1>
      <div class="mx-2 my-2">Please enter some review to predict if it is positive or negative</div>
      <div class="mx-5">
      <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
      <center><button class="btn btn-success my-2" id="submit">Submit</button></center>
    </div>
  </div>
  <br>
  <br>
  </div>
  <div class="container">
  <div class="bg bg-light mx-auto">
    
    <center>
    <div class="result">
    </div>
  </center>
    <div> 
  </div>
  </body>
</html>